body{
background-color: rgb(255, 234, 241);
color: rgb(111, 2, 38);
}
p{
    background-color: rgb(255, 69, 131);
    border: 2px ridge rgb(112, 42, 85);
}
img{
    width: 500px;
    height: 200px;
    margin: 0 auto;
}