body{
background-color: rgb(254, 207, 221);
color: rgb(111, 2, 38);
}
p{
    background-color: rgb(245, 59, 121);
    border: 2px none rgb(112, 42, 85);
}
img{
    width: 554px;
    height: 100px;
    margin: 0 auto;
}